# npm Configuration
save-exact=true
engine-strict=true

# Project Dependencies: @modelcontextprotocol/sdk, commander, fast-xml-parser, zod
# Project DevDependencies: @types/node, tsup, typescript, vitest
